@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    margin: -8px;
    /* display: grid; */

}

/*=========================================
Header
===========================================*/
header {
    display: flex;
    background-color: rgb(151, 145, 206);
    color: white;
    max-width: 100%;
    grid-area: header;
}
header h1 {
    padding: 10px;
    margin-right: 25px;
}

div.bell {
    width: 55px;
    padding: 7px;
    margin-top: 20px;
    border-right: solid 1px rgb(242, 235, 235);
}
.bell-icon {
    fill: white;
    transform-origin: 0 0;
}
.bell-icon:hover {
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
    transform: rotate(20deg);
}

#profile {
    width: 55px;
    height: 55px;
    padding: 5px;
    margin-top: 15px;
}

.pic {
    border-radius: 50%;
}

header h3 {
    margin-top: 30px;
    font-size: 13px;
    margin-left: 7px;
}

/*=========================================
------------------------------------------
MAIN ELEMENTS: 
__________________________________________
==========================================*/

/*=========================================
Nav and Alert
===========================================*/
a.main-a {
    margin: 15px 0px;
    width: 40px;

}
a.main-a:hover {
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
    transform: scale(1.2);  
}
.house, .bar, .memb, .sett {
    fill: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(97, 92, 145);
    grid-area: nav;
    height: 70px;
}

#alert {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    width: 90%;
    margin: 15px auto auto auto;
    color: white;
    background-color: rgb(151, 145, 206);
}
#alert-message {
    margin-left: 10px;
    font-size: 15px;
}

#x-btn {
    margin-right: 15px;
    font-size: 15px;
}
/*==============================================
Dashboard, traffic, daily traffic, mobile users:
===============================================*/
#dashboard {
    display: flex;
    grid-area: dash;
    height: 70px;

}
#dashboard h2 {
    width: 35%;
    margin-left: 20px;
}
#gray-space {
    background-color:rgb(241, 240, 244);
    height: 100%;
    width: 65%;
    grid-area: gray; 
    border-left: solid 1px rgb(214, 209, 209);
    border-bottom: solid 1px rgb(214, 209, 209);
}
#traffic {
    grid-area: traffic;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}
#traffic ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 0;
}

#traffic li {
    font-size: 16px;
    margin-top: 5px;
}

/* ----------
temp image
---------- */
img.placeholder {
    max-width: 300px;
    margin: 20px 50px;
}
/* -------------------- */

#traffic, #daily-traffic, 
#mobile-users, #social-stats,
#social-container,
#message, #settings, .member-container {
    border-bottom: solid 1px rgb(214, 209, 209);
}
#traffic h3.main, #daily-traffic h3, 
#mobile-users h3, #social-container h3,
#new-members h3, #recent-activity h3,
#message h3, #settings h3 {
    margin-left: 20px;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
}
#daily-traffic {
    grid-area: daily;
}

/*=========================================
Social Media Widgets
===========================================*/
#social-container {
    padding-bottom: 10px;
}

#fb, #insta, #twitter {
    display: flex;
    justify-content: center;
    background-color:rgb(151, 145, 206);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 15px;
}
.fb, .insta, .twitter {
    fill: white;
    width: 50%;
    
}
.fb-container, .insta-container, .twitter-container {
    background-color:rgb(241, 240, 244);
    border:  solid 1px rgb(214, 209, 209);
    display: flex;
    justify-content:space-around;
    border-radius: 7px;
    width: 90%;
    margin: 15px auto;
    height: 100px;
}
.social-text {
    margin: 0px 25% 0px 0px;
}
.social-text h2 {
    font-size: 35px;
    margin: 0;
}
.social-text h3 {
    margin: 20px 0px 5px 0px;
}

/*=========================================
New Member, Recent Activity, Message, and 
Settings widgets:
===========================================*/

.member-container, .member-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-container {
    margin-bottom: 15px;
    margin-top: 10px;
}
.member-pic {
    width: 75px;
}
.member-text a {
    text-decoration: none;
    color:  rgb(151, 145, 206);
}
.activity-text {
    width: 70%;
    text-align: center;
    color: rgb(29, 27, 27); 
}
.activity-text a {
    color: black;
    font-size: 14px;
}
.activity-text h4, .member-text h4{
    margin-bottom: 2px;
    margin-top: 10px;
}
.activity-text p, .member-text p {
    margin-bottom: 15px;
    margin-top: 0px;
}
#message, form.contact-widget {
    display: flex;
    flex-direction: column;
}
form.contact-widget {
    justify-content: center;
    margin: 20px 15px 10px 15px;
}
input.form-field, textarea#msg-txt, button.btn, select, .select_box {
    margin-bottom: 15px;
    border-radius: 5px;
    border:  solid 1px rgb(214, 209, 209);
    font-family: 'Varela Round', sans-serif;
}
input.form-field, textarea#msg-txt, select, .select_box {
    background-color:rgb(245, 245, 247);
    font-size: 15px;
}
input.form-field, button.btn, select,  .select_box {
    height: 50px;
}
textarea#msg-txt {
    height: 175px;
}
textarea#msg-txt::placeholder {
   padding-top: 10px;
}
input.form-field::placeholder, textarea#msg-txt::placeholder, select {
    color:rgb(167, 164, 164);
}
button.btn, .btn-primary, .btn-disabled {
    background-color:rgb(151, 145, 206);
    border:rgb(80, 68, 189);
    color: white;
    font-size: 17px;
}
#settings {
    display: flex;
    flex-direction: column;
}
.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.slider-container p {
    font-size: medium;
    color: rgb(57, 50, 50); 
    margin-left: 20px;
}
select {
    text-indent: 10px;
}

.select_box{
    width: 90%;
    align-self: center;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
  }
  .select_box:after{
    width: 0; 
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(151, 145, 206);
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
   }
  .select_box select{
    padding-bottom: 20px;
    width: 100%;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
  }
div.btn-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.btn-primary, .btn-disabled {
    width: 40%;
    height: 50px;
    border-radius: 7px;
    margin: 10px 20px;
}

/*=========================================
Slider checkbox tutorial from 
https://www.w3schools.com/howto/howto_css_switch.asp
===========================================*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(151, 145, 206);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(80, 68, 189);
  border:  solid 1px rgb(231, 227, 227);
}

input:checked + .slider:before {
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*=========================================
Media queries
===========================================*/

@media screen and (min-width: 768px) {

    header {
       justify-content: flex-end;
    }
    header h3 {
        margin-right: 10px;
    }
}